body {

    background-color: #4B4B4B;
}

h1 {
    color: white;
    font: bold 100px Sniglet, Serif;
    text-shadow: -5px 4px 0 #000;
    text-align: center;
    text-decoration: none;
}

h2 {
  font-family: Verdana;
  font-weight: bold;
}

p {
  font-family: Verdana;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B22222;
    font-family: arial;
    -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

li a:hover {
   background-color: #7a1818;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}  

.main {
	  width: 800px;
    margin: 0 auto;
}

.active {
    background-color: #7a1818;
}

#photo {
  width: 200px;
}

 input.button {
   cursor: pointer;
   font-family: Verdana;
   border-radius: 6px;
   outline: none;

 }

div.frontpage {
    width: 760px;
    height: auto;
    margin: 0px auto;
    padding: 20px;
    background-color: white; 
}

div.page2 {
    width: 760px;
    height: auto;
    margin: 0px auto;
    padding: 20px;
    background-color: white; 
}

div.page3 {
    width: 760px;
    height: auto;
    margin: 0px auto;
    padding: 20px;
    background-color: white; 
}

@keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.buzz-out {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
}
.buzz-out:hover, .buzz-out:focus, .buzz-out:active {
  animation-name: buzz-out;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}


